@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DOT NET APP</title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
